<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27718427940-ajug2fhm4g985343tp6muba2m72vq6qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27718427940-ajug2fhm4g985343tp6muba2m72vq6qv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>27718427940-urr18o8d6s1bgijtatcmqmggacth0ven.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2QrZ3rh1bslhxdGNE7Ng91LGeo7oXiQk</string>
	<key>GCM_SENDER_ID</key>
	<string>27718427940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.outcome</string>
	<key>PROJECT_ID</key>
	<string>intermessh</string>
	<key>STORAGE_BUCKET</key>
	<string>intermessh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27718427940:ios:bcbb575aec61dc8b463fb1</string>
</dict>
</plist>